<!-- is-hidden -->
<div class="auth-reg-modal is-hidden" data-modal>
  <div class="auth-reg-modal-callback-form">
    <button class="auth-reg-modal-close" type="button" data-modal-close>
      <img src="./images/svg/x-close.svg" alt="" />
    </button>
    <form class="auth-reg-modal-form">
      <div class="auth-reg-modal-input-box">
        <div class="auth-reg-modal-field-input">
          <input type="text" class="auth-reg-modal-input" id="auth-reg-modal-name" placeholder="NAME" />
        </div>
        <div class="auth-reg-modal-field-input">
          <input type="email" class="auth-reg-modal-input" id="auth-reg-modal-email" placeholder="EMAIL" />
          <!-- <svg class="icon-lable" width="18" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg> -->
        </div>
        <div class="auth-reg-modal-field-input">
          <input type="password" class="auth-reg-modal-input" name="auth-reg-modal-password" placeholder="PASSWORD" />
          <!-- <svg class="icon-lable" width="18" height="24">
              <use href="./images/icons.svg#icon-email"></use>
            </svg> -->
        </div>
      </div>
      <button class="auth-reg-modal-sign-up" type="submit">Sign up</button>
      <div class="auth-reg-modal-switcher">
        <button class="auth-reg-modal-switcher-sign-up" type="button">sign up</button>
        <button class="auth-reg-modal-switcher-sign-in" type="button">sIGN In</button>
      </div>
    </form>
  </div>
</div>
