<header>
  <nav class="header-nav">
    <a class="header-logo link" href="">
      <svg class="header-logo-img">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <svg class="header-logo-text">
        <use href="./images/icons.svg#icon-bookshelf"></use>
      </svg>
      <!-- <img class="header-logo-img" src="./images/svg/logo.svg" alt="" /> -->
      <!-- <img class="header-logo-text" src="./images/svg/bookshelf.svg" alt="" /> -->
    </a>

    <ul class="header-menu-list list">
      <li>
        <a class="header-menu-home" href="">Home</a>
      </li>
      <li>
        <button class="header-menu-shippinglist" type="button">
          Shopping list
          <svg class="header-menu-shippinglist-icon">
            <use href="./images/icons.svg#icon-uil_cart"></use>
          </svg>
          <!-- <img class="header-menu-shippinglist-icon" src="./images/svg/uil_cart.svg" alt="" /> -->
        </button>
      </li>
    </ul>
  </nav>

  <div class="header-buttons">
    <button class="header-switcher" type="button">
      <img class="header-switcher-img-light header-switcher-img" src="./images/svg/switcher-light.svg" alt="" />
      <img class="header-switcher-img-dark header-switcher-img" src="./images/svg/switcher-dark.svg" alt="" />
    </button>
    <button class="header-user" type="button">
      <img class="header-user-logo" src="./images/user-logo.png" alt="" />
      <span class="header-user-name">Stephen</span>
      <img class="header-user-icon-down" src="./images/svg/fi-ss-caret-down.svg" alt="" />
    </button>
    <a class="header-modal-mobile-link link" href="">
      <svg class="header-modal-mobile">
        <use href="./images/icons.svg#icon-align-left"></use>
      </svg>
    </a>
  </div>
</header>
