<main>
  <section class="main-box container">
    <div class="section-main">
      <div class="main-side-box">
        <include src="./partials/main-categories.html"></include>
        <div clas="main-support">
          <ul class="main-categories-list list"></ul>
        </div>
      </div>
    </div>
    <div class="main-blocks">
      <h1 class="main-blocks-title"></h1>
      <ul class="main-blocks-list list"></ul>
    </div>
    <div class="main-top-blocks">
      <h1 class="main-top-blocks-title"></h1>
      <ul class="main-top-blocks-list list"></ul>
    </div>
  </section>
</main>
