<div class="modal-book-item visually-hidden" modal-book-item>
  <div class="modal-book-item-box">
    <button class="modal-book-item-close" type="button" data-modal-close>
      <img src="./images/svg/x-close.svg" alt="" />
    </button>
    <div class="modal-book-item-info-box">
      <div class="modal-book-item-img-box">
        <img class="modal-book-item-img" src="http://placehold.it/640x70/" alt="" />
      </div>
      <div class="modal-book-item-body-box">
        <p class="modal-book-item-body-title"></p>
        <p class="modal-book-item-body-author"></p>
        <p class="modal-book-item-body-description"></p>
        <div class="modal-book-item-body-link-box">
          <a class="modal-book-item-body-link-amazon link" target="_blank" href="">
            <img class="modal-book-item-body-link-img" src="./images/amazon.png" alt="Amazon link" />
          </a>
          <a class="modal-book-item-body-link-apple link" target="_blank" href="">
            <img class="modal-book-item-body-link-img" src="./images/apple.png" alt="Apple books link" />
          </a>
          <a class="modal-book-item-body-link-bookshop link" target="_blank" href="">
            <img class="modal-book-item-body-link-img" src="./images/bookshop.png" alt="Book shop link" />
          </a>
        </div>
      </div>
    </div>
    <button class="modal-book-item-shoppinhlist">add to shopping list</button>
  </div>
</div>
