.main-blocks {
  padding: 0 0 80px;
}

.main-blocks-title {
  color: #111;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 118.75%;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}

.main-blocks-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-block-list-item {
  max-width: 100%;
}

.main-block-list-item-link {
  cursor: pointer;
}

.main-block-list-item-img-box {
  margin-bottom: 14px;
}

.main-block-list-item-img {
  width: 100%;
}

.main-block-list-item-title {
  color: #111;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 112.5%;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.main-block-list-item-author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
}

@media screen and (min-width: 768px) {
  .main-blocks {
    padding: 60px 0 100px;
  }

  .main-blocks-title {
    color: #111;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 108.333%;
    letter-spacing: -1.92px;
    margin-bottom: 40px;
  }

  .main-blocks-list {
    flex-direction: row;
    column-gap: 25px;
    row-gap: 40;
    flex-wrap: wrap;
  }

  .main-block-list-item {
    width: calc((100% - 50px) / 3);
  }
}

@media screen and (min-width: 1440px) {
  .main-blocks {
    padding: 40px 0 100px 0;
  }

  .main-blocks-list {
    column-gap: 24px;
  }

  .main-block-list-item {
    width: calc((100% - 96px) / 5);
  }
}
