@import 'main-categories.css';
@import 'main-blocks.css';
@import 'main-top-blocks';
@import 'modal-book-item';

@media screen and (min-width: 1440px) {
  .main-box {
    display: flex;
    gap: 40px;
  }

  .main-side-box {
    width: 356px;
  }
}
